@use 'helpers' as *;

body {
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-white);
  }

  &[class] {
    text-decoration: none;
  }

}

:focus-visible {
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(44px);

      content: '';
    }
  }
}