@use 'helpers' as *;

:root {
  --color-white: #F2F2F2;
  --color-black: #111111;
  --color-accent: #DCB35C;

  --color-board: #B98A3A;
  --color-surface: #1A1A1A;
  --color-container: #232323;
  --color-card-bg: #FFFFFF0C;

  --color-accent-light: #5A9FEEFF;
  --color-secondary: #6C757DFF;

  --font-family-base: 'Inter', sans-serif;

  --transition-duration: 0.2s;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}